[Unit]
Description=GPIO server

[Service]
ExecStart=/root/.env/bin/python3 gpio_server.py
WorkingDirectory=/root/temp-switch/
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target